<!DOCTYPE html>
<html>
<head>
    <title>Ресурсы</title>
</head>
<body>
<div style="text-align: center;">
    <div style="display: inline-block; background-color: #f7f7f7; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); padding: 20px; margin: 10px;">
        <h1 style="font-size: 24px; color: #333; margin-bottom: 20px;">Доступные ресурсы:</h1>
        <a href="/home/titanium" style="text-decoration: none;">
            <span style="background-color: #007bff; color: #fff; padding: 10px 20px; border-radius: 5px; font-weight: bold; margin: 0 10px;">Титан</span>
        </a>
        <a href="/home/aluminium" style="text-decoration: none;">
            <span style="background-color: #007bff; color: #fff; padding: 10px 20px; border-radius: 5px; font-weight: bold; margin: 0 10px;">Алюминий</span>
        </a>
        <a href="/home/ferrum" style="text-decoration: none;">
            <span style="background-color: #007bff; color: #fff; padding: 10px 20px; border-radius: 5px; font-weight: bold; margin: 0 10px;">Железо</span>
        </a>
    </div>
</div>
</body>
</html>
