<!DOCTYPE html>
<html>
<head>
    <title>{{.Material}}</title>
    <link rel="stylesheet" type="text/css" href="../css/rp-style.css">
</head>
<body class="resource-body">
<div class="resource-container">
    <div class="resource-details">
        <img src="{{.ImageURL}}" alt="{{.Material}}" class="resource-image">
        <h1 class="resource-title">{{.Material}}</h1>
        <p class="resource-info">Добыто: {{.Text}}</p>
        <p class="resource-info">Период: {{.Period}}</p>
        <p class="resource-info">Место добычи: {{.Place}}</p>
        <a href="/home" class="home-link">
            <span class="home-button">На главную страницу</span>
        </a>
    </div>
</div>
</body>
</html>